body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.header-section{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 64px;
    align-items: center;
    background: #A03037 0% 0% no-repeat padding-box;
   
}
.book-img{
    display: flex;
    flex-direction: row;    
    color: white;
   
    width: 15%;
    justify-content: flex-end;
    align-items: center;
}
.bookimg{
    height: 20px;

}
.bookstore{
 
    font: normal normal normal 20px/26px Roboto;
}
.cart{
    margin-right: 8%;
    width: 20px;
    height: 20px;
   
}
.cart-section{

    display: flex;
    flex-direction: column;
    color: white;   
    
}
.cart-count {
  text-align: left;
  font: normal normal bold 9px/11px Lato;
  letter-spacing: 0px;
  color: #A03037;
      bottom: 2px;
    float: right;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 25px;    
    background-color: white;    
    right: 28%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input {
    font: 16px system-ui;    
    height: 60%;
    width: 40%;
    padding: 6px 10px;
  
  }
  ::placeholder {
    color: black;
    opacity: 0.7; 
  }
  .nav-button{
    
    display: flex;
    flex-direction: row;
     justify-content: space-around;
     width: 10%;
   
}
.text-user{
  display: flex;
  flex-direction: column;
}
.dropbtn  {
  background: #A03037 0% 0% no-repeat padding-box;
    color: white;
    padding:-4px;
    font-size: 16px;
    border: none;
  }
  .user{
    text-align: left;
      font: normal normal normal 13px/15px Roboto;
letter-spacing: 0.45px;
color: #FFFFFF;

      
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent;}
  @media screen and (max-width:1024px) {
    .nav-button{
      padding-right: 8%;
    }
  }
  @media screen and (max-width:800px){
    input{
      width: 30%;
      margin-left: 5%;
    }
    .bookstore{
      margin-left: 8px;
      font-size: 25px;
    }
    .bookimg{
      height: 2%;
    }
  }
  @media screen and (max-width:600px) {
    .bookimg{
      margin-left: 40%;
    }
  }
  @media screen and (max-width:500px) {
    .bookimg{
      margin-left: 20%;
    }
    .bookstore{
      font-size: 20px;
    }
  }
  @media screen  and (max-width:400px){
    .bookstore{
      font-size: 20px;
    }
    .bookimg{
      height: 2%;
      margin-left: 20%;
    }
    input{
      display: none;
    }
  }