body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.header-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
   background-color: darkred;
}
.book-img{
    display: flex;
    flex-direction: row;    
    color: white;
}
.bookimg{
    height: 5%;
    margin-top: 15%;
    margin-left: 80%;
}
.bookstore{
    margin-left: 15px;
    font-size: 30px;
}
.cart{
    margin-right: 10%;
    width: 25px;
    height: 25px;
}

.main-section{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 1px solid gainsboro;
    margin-left: 30px;
   
    
}
.text{
    display: flex;
    flex-direction: row;
    
}
.address-btn{
    width: 180px;
    height: 30px;
    color: red;
    border:1px solid  red;
    background-color: transparent;
    margin-left: 40%;
    margin-top: 3%;
}
.address {
    height: 80px;
    width: 200px;
}
.fullname{

    height: 100px;
    width: 800px;
    border: 2px solid red;
 display: inline-block;
   
    
}

.city{
    height: 80px;
    width: 100px;
    margin-top: 30px;
}
.labels{
    margin-left: 20%;
    display: flex;
    flex-direction: column;
  
 }
 .continue{
     width: 100px;
     height: 30px;
     margin-left: 580px;
     color: white;
     background-color: blue;
     border: none;
 }
 .cart-img{
     width: 80%;
     margin-left: 130px;
     margin-top: 5%;
     border: 1px solid gainsboro;  
 }

 .section{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
  
   
   
    
}
.sub-section{
  
    width: 400px;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 2%;
    margin-right: 10%;
}
.sec{
 
    width: 400px;
    height: 50%;
    display: flex;
    flex-direction: row;
}
.books{

    width: 200px;
    height: 180px;
    background-color: white;
   
}
.img{
    margin-left: 25px;
    margin-top: 5px;
}
.rating{
    border: black;
    width: 20%;
    height: 40px;
    background-color: green;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cost{
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: 20px;
}
.main-text{
    font-size: 15px;
}

.book-text{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  
    width: 400px;
    height: 150px;
}
.placeorder-btn{
    width: 150px;
    height: 30px;
    margin-left: 190%;
    color: white;
    background-color: blue;
    border: none;
    margin-top: 12%;
    border-radius: 5px;
}
.ordersummary{
    border: 1px solid gainsboro;
    height: 40%;
    width: 80%;
    margin-left: 130px;
  
}  
.summary{
    margin-top: 50px;
}
.footer{
          
    margin-top: 10%;
    color: white;
    background-color: black;
    font-size: 15px;
    height: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-section{

    margin-left: 10%;
   
}
.checkout-sub-section{
    margin-top: 5%;
    display: flex;
    flex-direction: column;

}
.checkout-sec{
    display: flex;
    flex-direction: row;
}
.checkout{
    margin-left: 80%;
}
.checkout-book-text{
    margin-left: 10%;
    height: 30px;
    
}
.checkout-btn{
    border: none;
    background-color: blue;
    color: white;
    height: 30px;
    border-radius: 5px;
}
