body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.header-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
   background-color: darkred;
}
.book-img{
    display: flex;
    flex-direction: row;    
    color: white;
}
.bookimg{
    height: 5%;
    margin-top: 15%;
    margin-left: 80%;
}
.bookstore{
    margin-left: 15px;
    font-size: 30px;
}
.cart{
    margin-right: 10%;
    width: 25px;
    height: 25px;
}
input {
    font: 16px system-ui;
    color: #fff;
    height: 60%;
    width: 40%;
    padding: 6px 10px;
    margin-right: 10%;
  }
  ::placeholder {
    color: black;
    opacity: 0.7; 
  }
  .main-section{
      width: 20%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
       border: 2px solid white;  
      align-items: center;
      justify-content: center;
      
  }
  .sub-section{
     border: 1px solid gainsboro;
      width: 200px;
      height: 70%;
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      margin-top: 5%;
      margin-right: 10%;
  }
  .sec{
   
      width: 200px;
      height: 50%;
      display: flex;
      flex-direction: column;
  }
  .books{
  
      width: 200px;
      height: 180px;
      background-color: white;
      background-color: gainsboro;
  }
  .img{
      margin-left: 45px;
      margin-top: 25px;
  }
  .rating{
      border: black;
      width: 25%;
      height: 30px;
      background-color: green;
      color: white;
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .cost{
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 20px;
  }
  .main-text{
      font-size: 15px;
  }
  
  .book-text{
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      
     
  }
  .button{
      display: flex;
      flex-direction: row;
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
}
.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    position: relative;
    margin-left: 15%;

    }
    .pagination a {
        border: 2px solid white;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      .pagination{
          margin-top: 40px;
          margin-left: 400px;
      }
      
      .pagination a.active:hover {
        background-color: dodgerblue;
        color: white;
      }
      
      .pagination a:hover:not(.active) {
          background-color: #ddd;
        }
        #forward, #backward{
            border-radius: 50%;
            border: 1px solid gainsboro;
        }
        #forward:hover, #backward:hover{
            background-color: gainsboro;
        }
        .footer{
          
            margin-top: 10%;
            color: white;
            background-color: black;
            font-size: 5px;
            height: 50px;
            padding-left: 50px;
            display: flex;
            align-items: center;
        }
     

            
    @media screen and (max-width:1024px) {
        /* .books{
           
            width: 160px;
            height: 120px;
            margin-left: 22px;
        }
        .img{
            width: 100px;
            height: 90px;
            margin-left: 25px;
            margin-top: 10px;
        }
        input{
            margin-right: 20%;
        } */
        .main-section{
            width: 25%;
        }
       input{
           margin-left: 15%;
       }
       
    }
    @media screen and (max-width:800px) {
        .main-section{
            width: 40%;
        }
        input{
            margin-right: 6%;
        } 
        .pagination{
            margin-left: 20%;
        }
        .footer{
            width: 100%;
        }
       
    }
    @media screen and (max-width:600px) {
        .main-section{
            width: 45%;
        }
        .bookimg{
            margin-left: 40%;
        }
    }
    @media screen and (max-width:500px) {
        .main-section{
            width: 55%;
        }
        .main-list{
            margin-left: 40%;
        }
        .bookimg{
            margin-left: 10%;
            width: 20px;
            height: 20px;
        }
        .bookstore{
            font-size: 20px;
        }
        input{
            margin-right: 18%;
        }
        .pagination{
            margin-left: 20%;
        }
        .footer{
            width: 100%;
        }
    }
    @media screen and (max-width:400px) {
        .bookimg{
            margin-left: 10%;
            width: 20px;
            height: 20px;
        }
        .bookstore{
            font-size: 20px;
        }
        input{
            margin-right: 18%;
        }
    }