body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.header-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
   background-color: darkred;
}
.book-img{
    display: flex;
    flex-direction: row;    
    color: white;
}
.bookimg{
    height: 5%;
    margin-top: 15%;
    margin-left: 80%;
}
.bookstore{
    margin-left: 15px;
    font-size: 30px;
}
input {
    font: 16px system-ui;
    color: #fff;
    height: 60%;
    width: 40%;
    padding: 6px 10px;
    margin-right: 30%;
  }
  ::placeholder {
    color: black;
    opacity: 0.7; 
  }
  .main-section{
      width: 20%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
       border: 2px solid white;  
      align-items: center;
      justify-content: center;
      
  }
  .sub-section{
     border: 1px solid gainsboro;
      width: 200px;
      height: 70%;
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      margin-top: 5%;
      margin-right: 10%;
  }
  .sec{
   
      width: 200px;
      height: 50%;
      display: flex;
      flex-direction: column;
  }
  .books{
  
      width: 200px;
      height: 180px;
      background-color: white;
      background-color: gainsboro;
  }
  .img{
      margin-left: 45px;
      margin-top: 25px;
  }
  .rating{
      border: black;
      width: 20%;
      height: 7%;
      background-color: green;
      color: white;
      margin-top: 2%;
      margin-bottom: 2%;
  }
  .cost{
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 20px;
  }
  .main-text{
      font-size: 15px;
  }
  
  .book-text{
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      
     
  }
  .button{
      display: flex;
      flex-direction: row;
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
}
.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    position: relative;
    margin-left: 15%;

    }