body {
    width: 100%;
    height: 100%;
    margin: 0;
  }


.dashboard-book {
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    opacity: 1;
}
.book-count-section {
    height: 20px;
    padding-left: 13%;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
   
}
.bookscount{
    margin-top: 5%;
}


  .main-section{
      width: 20%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
       border: 2px solid white;  
      align-items: center;
      justify-content: center;
      
  }
  .sub-section{
     border: 1px solid gainsboro;
      width: 200px;
      height: 70%;
      display: flex;
      flex-direction: column;
      margin-left: 10%;
      margin-top: 5%;
      margin-right: 10%;
  }
  .sec{
   
      width: 200px;
      height: 50%;
      display: flex;
      flex-direction: column;
  }
  .books{
  
      width: 200px;
      height: 180px;
      background-color: white;
      background-color: gainsboro;
  }
  .img{
      margin-left: 45px;
      margin-top: 25px;
  }
  .rating{
      border: black;
      width: 25%;
      height: 30px;
      background-color: green;
      color: white;
      margin-top: 2%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  .cost{
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 20px;
  }
  .main-text{
      font-size: 15px;
  }
  
  .book-text{
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      
     
  }
  .button{
      display: flex;
      flex-direction: row;
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
}
.main-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    position: relative;
    margin-left: 15%;

    }
    .booksection{
        padding-top: 20px;
    }
    .pagination a {
        border: 2px solid white;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      .pagination{
          margin-top: 40px;
          margin-left: 400px;
      }
      
      .pagination a.active:hover {
        background-color: dodgerblue;
        color: white;
      }
      
      .pagination a:hover:not(.active) {
          background-color: #ddd;
        }
        #forward, #backward{
            border-radius: 50%;
            border: 1px solid gainsboro;
        }
        #forward:hover, #backward:hover{
            background-color: gainsboro;
        }
        .footer{
          
            color: white;
            background-color: black;
            font-size: 5px;
            height: 50px;
           
            display: flex;
            align-items: center;
           margin-top: 10%;
        }
     

            
    @media screen and (max-width:1024px) and (min-width:900px){
        
           
       
        .main-section{
            width: 25%;
        }
     
       
    }
    @media screen and (max-width:800px) and (min-width:600px) {
        .main-section{
            width: 40%;
        }
       
        .pagination{
            margin-left: 20%;
        }
        .footer{
            width: 100%;
        }
       
    }
    @media screen and (max-width:600px) and (min-width:500px) {
        .main-section{
            width: 45%;
        }
       
        .pagination{
            margin-left: 20%;
        }
        .footer{
       
            margin-top: 150px;
        }
      
       
    }
    @media screen and (max-width:500px) {
        .main-section{
            width: 55%;
        }
        .main-list{
            margin-left: 40%;
        }
      
        .pagination{
            margin-left: 20%;
        }
        .footer{
            width: 100%;
        }
    }
 