
.form{
    height: 100%;
    padding-left: 20%;
    display: flex;
    flex-direction: row;
   background-color: gray;
    align-items: center;
    justify-content: center;

}
.book-img {   
    width: 55%;    
    border-radius: 100%;
    padding-left: 20px;
    padding-top: 10px;
    opacity: 1;
    
}
.text{
    padding-left: 20px;
    font: normal normal medium 18px/24px Roboto;
letter-spacing: 0px;
color: #0A0102;
}


.form-container{ 
    width: 40%;
    max-height: 60%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    font-size: 8px;
   
    
  
}
.loginsignup{   
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 5px 15px #00000029;
border: 1px solid #E4E4E4;
border-radius: 6px;
opacity: 1;    
    max-height: 60%;
    width: 25%;
   padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   left: -15%;
}
.labels{
   display: flex;
   flex-direction: column;
 
}
input{
    width: 200px;
    height: 35px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.signup-btn, .login-btn{
    height: 30px;
    margin-top: 15px;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    color: white;
    border: none;
}
a {
    text-decoration: none;
    color: black;
    margin-bottom: 10%;
}
a:hover{
    color: darkred;
    text-decoration:underline;
}
.pages{
 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.links:hover{
    text-decoration: underline;
    color: black;
}
.forget-mail{
    margin-left: 40%;
}
.forget-mail:hover{
    color: blue;
}
.or{
    text-align: center;
    margin-top: 5%;
}
.btns{
    
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    height: 30px;
    width: 100%;
    
}
.facebook-btn:hover , .Google-btn:hover{
    background-color: blue;
    color: white;
    border: transparent;
}
.text-error{
    font-style: italic;
    color: red;
    display: flex;
    font-size: 10px;
    flex-direction: column;
    margin-left: 10px;
}
@media screen and (max-width:1024px) and (min-width:901px)  {
   
    .form-container{    
        width: 50%;
        margin-bottom: 75%;     
       
    }
    .loginsignup{      
        margin-bottom: 75%;     
        width: 30%;
        left: -20%;
    }
    .form{
        height: 100%;
    } 
       
}
@media screen and (max-width:900px) and (min-width:801px){
    .form{
      
        padding-left: 10%;
    }
    .form-container{
        margin-bottom: 45%;     
        width: 50%;
   
    }
    .loginsignup{
      
       
        width: 40%;
       
    }
}
@media screen and (max-width:800px) and (min-width:601px){
    .form{
     
        padding-left: 10%;
    }
    .form-container{
        margin-bottom: 55%;    
        width: 50%;
       
       
    }
    .loginsignup{   
        margin-bottom: 55%;  
        width: 40%;
      

    }
}
@media screen and (max-width:600px) {
    .form{
        
        padding-left: 10%;
    }
    .form-container{      
        width: 50%;
        margin-bottom: 35%;  
       
    }
    .loginsignup{      
        margin-bottom: 35%;  
        width: 35%;
        
    }
    input{
        width: 100px;     
     
    }
    label{
       
        font-size: 12px;
    }
    .signup-btn, .login-btn{
        height: 20px;
        margin-top: 15px;
        background-color: darkred;
        color: white;
        border: none;
    }
    .btns{
    
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        height: 20px;
        width: 100%;
        font-size: 1rem;
        
    }
    .links{
        font-size: 10px;
    }
    .text{
        font-size: 8px;
    }
    .or{
        font-size: 10px;
    }
    .forget-mail{
        font-size: 10px;
        margin-left: 30%;
    }
    .facebook-btn , .Google-btn{
        font-size: 10px;
    }
}
@media screen and (max-width:400px){
    .form{
        width: 100%;
        padding-left: 10%;
    }
    .form-container{     
        width: 60% !important;  
        margin-top: 30%;
     
     
    }
    .loginsignup{
     
        height: 30%;
        width: 40%;
        
        margin-top: 35%;
    }
    .book-img{
        width: 80%;
        border-radius: 100%;
    }
 
    input{
        width: 80px;
        height: 15px;
        padding-top: 5px;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    label{
        margin-left: 20px;
        font-size: 12px;
    }
    .signup-btn, .login-btn{
        height: 20px;
        margin-top: 15px;
        background-color: darkred;
        color: white;
        border: none;
    }
    .btns{
    
        display: flex;
        justify-content: space-between;
        margin-top: 10%;
        height: 20px;
        width: 100%;
        font-size: 1rem;
        
    }
    .links{
        font-size: 10px;
    }
    .text{
        font-size: 8px;
        width: 100%;
      
    }
    .or{
        font-size: 10px;
    }
    .forget-mail{
        font-size: 10px;
    }
    .facebook-btn , .Google-btn{
        font-size: 10px;
    }
}
