body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
.header-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    align-items: center;
   background-color: darkred;
}
.book-img{
    display: flex;
    flex-direction: row;    
    color: white;
}
.bookimg{
    height: 5%;
    margin-top: 15%;
    margin-left: 80%;
}
.bookstore{
    margin-left: 15px;
    font-size: 30px;
}
.cart{
    margin-right: 10%;
    width: 25px;
    height: 25px;
}
input {
    font: 16px system-ui;
    color: #fff;
    height: 60%;
    width: 40%;
    padding: 6px 10px;
    margin-right: 10%;
  }
  ::placeholder {
    color: black;
    opacity: 0.7; 
  }
  .main-section1{
      width: 20%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
       border: 2px solid white;  
      align-items: center;
      justify-content: center;
      
  }
  .sub-section1{
     border: 1px solid gainsboro;
      width: 300px;
      height: 80%;
      display: flex;
      flex-direction: column;
      margin-left: 100%;
      margin-top: 10%;
      margin-right: 10%;
  }
  .sec1{
   
      width: 500px;
      height: 50%;
      display: flex;
      flex-direction: row;
  }
  .books1{
  
      width: 200px;
      height: 180px;
      background-color: white;
      
  }
  .img1{
      margin-left: 30px;
      margin-top: 18px;
      width: 250px;
      height: 280px;
  }
  .rating1{
      border: black;
      width: 45%;
      height: 30px;
      background-color: green;
      color: white;
      margin-top: 10%;
      margin-bottom: 2%;
      margin-left: 2%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  .cost1{
    margin-top: 10%;
    margin-bottom: 5%;
    font-weight: 20px;
  }
  .main-text1{
      font-size: 25px;
  }
  .sub-text1{
      font-size: 20px;
  }
  
  .book-text1{
      display: flex;
      flex-direction: column;
      margin-left: 150px;    
     
  }
  .description{
      margin-top: 10%;
      font-size: 20px;
  }
  .button{
      display: flex;
      flex-direction: row;
      margin-top: 25%;
     
     
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
    border: none;
    width: 150px;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    width: 150px;
    margin-left: 15%;
}
.item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    position: relative;
    margin-left: 15%;

    }