body {
    width: 100%;
    height: 100%;
    margin: 0;
  }


  .main-section1{
      width: 80%;
      height: 100%;     
    
      }
  .sub-section1{
     
      width: 30%;
      height: 60%;
     }
  .sec1{

       width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
  }
  .books1{    
    
      width: 40%;
      height: 70%;
      background-color: white;
     margin-top: 30px;
      
      
  }
  .book1-img1{          
      width: 70%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid gainsboro; 
      padding-top: 30px;
      padding-bottom: 30px;
      margin-left: 70px;
  }
  .img1{
      width: 60%;
      height: 60%;
  }
  .overallrating{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    padding-bottom: 3px;
    
  }
  .checked-star {
    color: #707070;  
    padding-bottom: 3px;  
  }
 
  .rating1{
      border: black;
      width: 8%;
      height: 3%;
      background: #388E3C 0% 0% no-repeat padding-box;
      border-radius: 1px;
      text-align: left;
font: normal normal bold 14px/19px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
      color: white;     
      margin-top: 2%;     
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  .cost1{
    margin-top: 2%;
    margin-bottom: 5%;
    font: normal normal medium 30px/39px Roboto;
    color: #0A0102;
   
  }
  .main-text1{
    
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
  }
  .sub-text1{
    
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #878787;
  }
  .feedback h2{
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
  }
  
  .book-text1{

        height: 60%;
        width: 50%;
     
  }
  .description h3{
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #878787;
 
  }
  .description{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #373434;
  }
  .button{
      display: flex;
      flex-direction: row;
      margin-top: 20px;  
    margin-left: 60px;   
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
    border: none;
    width: 45%;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    width: 45%;
    margin-left: 5px;
   
}

.subsection3 {
    display: none;
    padding-left: 100px;
    
}

.minus-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}

.count {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    opacity: 1;
    padding-left: 11px;
    padding-right: 11px;
}

.add-count {
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    opacity: 1;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.remove-section {
    font: normal normal normal 12px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    padding-left: 15px;
    cursor: pointer;
}
.add-cart{
    display: none;
    padding-bottom: 10px;
    width: 50%;
}
.cart-button{
    width: 100%;
    height: 30px;
    background-color: blue;
    border: none;
}
.wishlist-button{
    width: 100%;
    height: 30px;
    background-color: blue;
    border: none;
}
.add-wishlist{
    display: none;
    padding-bottom: 10px;
    width: 50%;
}
.select-buttons{
   
    display: flex;
    flex-direction: row;
}

.item-list {   
    display: flex;  
    align-items: center;
    justify-content: center;   
    padding-top: 30px;

    }
   
    .submit-btn{
        border:none;
        background: #3371B5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        color:white;
        height: 30px;
        margin-left: 80%;
        width:20%;
        padding-top: 3px;
       
    }
    .feedback-box{
        padding-left: 15px;
        height: 30%;
        padding-top: 20px;
        padding-bottom: 20px;
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border-radius: 2px;
       
        
    }    
    .review-box{
        width: 90%;
       height: 50%;      
       margin-left: 0px;
       border: none;
       padding-bottom: 5px;
         
    }
    .review1{
        padding-top: 30px;
    }
    .review-text{
        border-radius: 50%;
        width: 6%;
        height: 12%;
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border: 1px solid #E4E4E4;
        color: #707070;

    }
.text{
        display: flex;
        flex-direction: row;
        font: normal normal normal 15px/20px Roboto;
        letter-spacing: 0px;
        color: #0A0102;
    }
.star,.para{
        padding-left:30px;
        font: normal normal normal 12px/16px Roboto;
        letter-spacing: 0px;
        color: #707070;
       
    }
.checked {
        color: orange;
      }
@media screen and (min-device-width:801px) and (max-device-width:1024px) {
        input{
            width: 30%;
            margin-left: 10%;
        }
        .books1{
        
            width: 60%;
            height: 32%;
        }
        .img1{
            padding-top: 3%;
        }
        .submit-btn{
            margin-left: 80%;
        }
        .review-box{
            width: 60%;
            height: 30%;
        }
        .feedback-box{
            height: 15%;
        }
    }
@media screen and (min-device-width:601px) and (max-device-width:800px) {
        input{
            width: 20%;
            margin-left: 10%;
        }
        .bookstore{
            font-size: 25px;
        }
        .bookimg{
            margin-top: 12%;
        }
        .img1{
            padding-left: 18px;
        }
        .books1{
            
            width: 60%;
            height: 28%;
        }
        .main-text1{
            font-size: 18px;
        }
        .sub-text1{
            font-size: 15px;
        }
        .description{
            font-size: 15px;
        }
        .book-text1{
            
            height: 38%;
        }
        .submit-btn{
            margin-left: 60%;
           
        }
    }
@media screen  and (max-width:600px) {
        .main-text1{
            font-size: 18px;
        }
        .sub-text1{
            font-size: 13px;
        }
        .description{
            font-size: 15px;
        }
        .button{
            margin-top: 24%;
            margin-left: 30px;
        }
        .feedback h2{
            font-size: 18px;
        }
        .sec1{
           
            flex-direction: column;
           padding-left: 15%;
            
        }
        .img1{
            padding-top: 20px;
        }
        .books1{
            width: 70%;
            height: 45%;
            padding-bottom: 10%;          
           
        }
        .book-text1{            
            width: 70%;
        }
        .rating1{
            width: 30%;
        }
        .cost1{
            margin-bottom: 0px;
        }
        .submit-btn{
            border:none;
            background-color: blue;
            color:white;
            height: 30px;
            margin-left: 25%;
            width:10%;
            border-radius: 3px;
            position: relative;
            width: 40%;
            
        }
        .review-box{
            width: 70%;
            height: 20%;
        }
        .star,.para{
            padding-left:40px
        }
        .book1-img1{
            margin-left: 30px;
        }
    }
@media screen and (max-width:400px) {
        .item-list{
            display: flex;
            flex-direction: column;
            margin-left: 0px;
        }
        .sec1{
            display: flex;
            margin-left: 0px;
        }
        .rating1{
            width: 30%;
        }
        .books1{
           
            justify-content: center;
            align-items: center;
        }
        .book-text1{
          
            width: 70%;
        }
 
        .button{
            flex-direction: column;         
        }
        .Addtobag{
            width: 80%;
        }
        .Whishlist{
            width: 80%;
        }
        .book1-img1{
            margin-left: 10px;
        }
        .button{
            margin-left: 10px;
        }
    }