body {
    width: 100%;
    height: 100%;
    margin: 0;
  }


  .main-section1{
      width: 80%;
      height: 100%;     
    
      }
  .sub-section1{
     
      width: 30%;
      height: 60%;
     }
  .sec1{
 
       width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
  }
  .books1{
    border: 1px solid gainsboro; 
      width: 35%;
      height: 60%;
      background-color: white;
      
  }
  .img1{
      padding-left: 25px;
      padding-top: 5px;
      width: 85%;
      height: 80%;
  }
  .rating1{
      border: black;
      width: 18%;
      height: 30px;
      background-color: green;
      color: white;     
      margin-top: 2%;     
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }
  .cost1{
      margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 20px;
  }
  .main-text1{
      font-size: 25px;
  }
  .sub-text1{
      font-size: 20px;
  }
  
  .book-text1{
      margin-left: 4%;
            height: 60%;
      width: 50%;
     
  }
  .description{
    
      font-size: 20px;
  }
  .button{
      display: flex;
      flex-direction: row;
      margin-top: 18%;  
      justify-content: space-between; 
     
  }
.Addtobag{
    height: 35px;
    background-color: darkred;
    color: white;
    border: none;
    width: 45%;
}
.Whishlist{
    height: 35px;
    background-color: black;
    color: white;
    border: none;
    width: 45%;
    padding-left: 5px;
   
}
.add-cart{
    display: none;
    padding-bottom: 10px;
    width: 50%;
}
.cart-button{
    width: 100%;
    height: 30px;
    background-color: blue;
    border: none;
}
.wishlist-button{
    width: 100%;
    height: 30px;
    background-color: blue;
    border: none;
}
.add-wishlist{
    display: none;
    padding-bottom: 10px;
    width: 50%;
}
.select-buttons{
   
    display: flex;
    flex-direction: row;
}

.item-list {   
  
    height: 100%;
    padding-left: 10%;
      padding-top: 8%;  

    }
    .submit-btn{
        border:none;
        background-color: blue;
        color:white;
        height: 30px;
        margin-left: 60%;
        width:20%;
        border-radius: 3px;
    }
    .feedback-box{
        border: 2px solid gainsboro;
        height: 30%;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: gainsboro;
      
        
    }    
    .review-box{
        width: 40%;
       height: 50%;        
    }
    .review1{
        padding-top: 30px;
    }
    .review-text{
        border-radius: 50%;
        width: 6%;
        height: 10%;
        border: 2px solid gainsboro;
        background-color: gainsboro;
    }
    .text{
        display: flex;
        flex-direction: row;
    }
    .star,.para{
        padding-left:30px
    }
    .checked {
        color: orange;
      }
    @media screen and (min-device-width:801px) and (max-device-width:1024px) {
        input{
            width: 30%;
            margin-left: 10%;
        }
        .books1{
        
            width: 60%;
            height: 32%;
        }
        .img1{
            padding-top: 3%;
        }
        .submit-btn{
            margin-left: 80%;
        }
        .review-box{
            width: 60%;
            height: 30%;
        }
        .feedback-box{
            height: 15%;
        }
    }
    @media screen and (min-device-width:601px) and (max-device-width:800px) {
        input{
            width: 20%;
            margin-left: 10%;
        }
        .bookstore{
            font-size: 25px;
        }
        .bookimg{
            margin-top: 12%;
        }
        .img1{
            padding-left: 18px;
        }
        .books1{
            
            width: 60%;
            height: 28%;
        }
        .main-text1{
            font-size: 18px;
        }
        .sub-text1{
            font-size: 15px;
        }
        .description{
            font-size: 15px;
        }
        .book-text1{
            
            height: 38%;
        }
        .submit-btn{
            margin-left: 60%;
           
        }
    }
    @media screen  and (max-width:600px) {
        .main-text1{
            font-size: 18px;
        }
        .sub-text1{
            font-size: 13px;
        }
        .description{
            font-size: 15px;
        }
        .button{
            margin-top: 24%;
        }
        .feedback h2{
            font-size: 18px;
        }
        .sec1{
           
            flex-direction: column;
           padding-left: 20%;
            
        }
        .img1{
            padding-top: 20px;
        }
        .books1{
            width: 70%;
            height: 45%;
            padding-bottom: 15%;
           
        }
        .rating1{
            width: 30%;
        }
        .cost1{
            margin-bottom: 0px;
        }
        .submit-btn{
            border:none;
            background-color: blue;
            color:white;
            height: 30px;
            margin-left: 25%;
            width:10%;
            border-radius: 3px;
            position: relative;
            width: 40%;
            
        }
        .review-box{
            width: 70%;
            height: 20%;
        }
        .star,.para{
            padding-left:40px
        }
    }
    @media screen and (max-width:400px) {
        .item-list{
            display: flex;
            flex-direction: column;
        }
        .sec1{
            display: flex;
        }
        .rating1{
            width: 30%;
        }
        .books1{
            padding-bottom: 30%;
        }
        .button{
            flex-direction: column;
         
        }
        .Addtobag{
            width: 100%;
        }
        .Whishlist{
            width: 100%;
        }
    }